@font-face {
    font-family: 'EuclidCircularA';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('EuclidCircular-A-Regular.woff') format('woff')
}

@font-face {
    font-family: 'EuclidCircularA';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('EuclidCircular-A-SemiBold.woff') format('woff')
}
